src/*.ps.d
build/monolithic/
build/monolithic_package/
build/packaged_resource/
build/resource/
build/release/
build/standalone/
build/standalone_package/
build/make_packaged_resource.ps
libs/docs/html/
