[submodule "wikidocs"]
	path = wikidocs
	url = ../postscriptbarcode.wiki.git
[submodule "travis-github-release"]
	path = travis-github-release
	url = git@github.com:terryburton/travis-github-release.git
