src/*.ps.d
build/monolithic/
build/monolithic_package/
build/packaged_resource/
build/resource/
build/release/
build/standalone/
build/standalone_package/
build/make_packaged_resource.ps
build/make_packaged_resource.ps.names
libs/docs/html/

# Debian packaging build artifacts
debian/.debhelper/
debian/debhelper-build-stamp
debian/files
debian/tmp/
debian/*.debhelper.log
debian/*.substvars
debian/*.postinst.debhelper
debian/*.prerm.debhelper
debian/postscriptbarcode/
debian/libpostscriptbarcode0/
debian/libpostscriptbarcode-dev/
debian/libpostscriptbarcode-java/
debian/libpostscriptbarcode-perl/
debian/python3-postscriptbarcode/
debian/ruby-postscriptbarcode/

# Python build artifacts
.pybuild/
libs/bindings/python/postscriptbarcode.egg-info/
