Tests: smoke-postscript
Depends: postscriptbarcode, ghostscript

Tests: smoke-clib
Depends: libpostscriptbarcode1, python3

Tests: smoke-python
Depends: python3-postscriptbarcode

Tests: smoke-perl
Depends: libpostscriptbarcode-perl

Tests: smoke-ruby
Depends: ruby-postscriptbarcode

Tests: smoke-java
Depends: libpostscriptbarcode-java, default-jdk
