Source: libpostscriptbarcode
Section: devel
Priority: optional
Maintainer: Terry Burton <tez@terryburton.co.uk>
Uploaders: Alexander List <alex@debian.org>
Build-Depends: debhelper (>= 9), dh-exec,
               ghostscript,
               swig,
               default-jdk, ant,
               perl, libperl-dev, chrpath,
               python-all-dev, dh-python,
               python3-all-dev, python3-setuptools,
               ruby, ruby-all-dev, gem2deb
Standards-Version: 3.9.6
Homepage: http://bwipp.terryburton.co.uk
Vcs-Git: git://github.com/bwipp/postscriptbarcode.git
Vcs-Browser: http://github.com/bwipp/postscriptbarcode
X-Python-Version: >= 2.6
X-Python3-Version: >= 3.2
XS-Ruby-Versions: all

Package: postscriptbarcode
Architecture: all
Multi-Arch: foreign
Section: libs
Depends: ${misc:Depends}
Replaces: libpostscriptbarcode
Breaks: libpostscriptbarcode
Description: Barcode Writer in Pure PostScript
 Barcode Writer in Pure Postscript generates all barcode formats entirely
 within PostScript so that the process of converting the input data into the
 printed output can be performed by the printer or RIP itself. This is ideal
 for variable data printing (VDP) and avoids the need to re-implement the
 barcode generation process whenever your language needs change.
 .
 This package provides the PostScript resource file.

Package: libpostscriptbarcode0
Architecture: any
Multi-Arch: same
Section: libs
Pre-Depends: ${misc:Pre-Depends}
Depends: ${misc:Depends}, ${shlibs:Depends}, postscriptbarcode
Description: Shared library for Barcode Writer in Pure PostScript
 Barcode Writer in Pure Postscript generates all barcode formats entirely
 within PostScript so that the process of converting the input data into the
 printed output can be performed by the printer or RIP itself. This is ideal
 for variable data printing (VDP) and avoids the need to re-implement the
 barcode generation process whenever your language needs change.
 .
 This package provides the shared library.

Package: libpostscriptbarcode-dev
Architecture: any
Multi-Arch: same
Section: libdevel
Depends: ${misc:Depends}, libpostscriptbarcode0 (= ${binary:Version})
Description: Development files for Barcode Writer in Pure PostScript
 Barcode Writer in Pure Postscript generates all barcode formats entirely
 within PostScript so that the process of converting the input data into the
 printed output can be performed by the printer or RIP itself. This is ideal
 for variable data printing (VDP) and avoids the need to re-implement the
 barcode generation process whenever your language needs change.
 .
 This package provides the development files.

Package: libpostscriptbarcode0-dbg
Architecture: any
Multi-Arch: same
Section: debug
Priority: extra
Depends: ${misc:Depends}, libpostscriptbarcode0 (= ${binary:Version})
Description: Shared library debugging symbols for Barcode Writer in Pure PostScript
 Barcode Writer in Pure Postscript generates all barcode formats entirely
 within PostScript so that the process of converting the input data into the
 printed output can be performed by the printer or RIP itself. This is ideal
 for variable data printing (VDP) and avoids the need to re-implement the
 barcode generation process whenever your language needs change.
 .
 This package provides the debugging symbols for the shared library.

Package: libpostscriptbarcode-java
Architecture: any
Multi-Arch: same
Section: java
Pre-Depends: ${misc:Pre-Depends}
Depends: ${java:Depends}, ${misc:Depends}, ${shlibs:Depends}, libpostscriptbarcode0 (= ${binary:Version})
Description: Java binding for Barcode Writer in Pure PostScript
 Barcode Writer in Pure Postscript generates all barcode formats entirely
 within PostScript so that the process of converting the input data into the
 printed output can be performed by the printer or RIP itself. This is ideal
 for variable data printing (VDP) and avoids the need to re-implement the
 barcode generation process whenever your language needs change.
 .
 This package provides the Java binding.

Package: libpostscriptbarcode-perl
Architecture: any
Multi-Arch: same
Section: perl
Pre-Depends: ${misc:Pre-Depends}
Depends: ${misc:Depends}, ${shlibs:Depends}, ${perl:Depends}, libpostscriptbarcode0 (= ${binary:Version})
Description: Perl binding for Barcode Writer in Pure PostScript
 Barcode Writer in Pure Postscript generates all barcode formats entirely
 within PostScript so that the process of converting the input data into the
 printed output can be performed by the printer or RIP itself. This is ideal
 for variable data printing (VDP) and avoids the need to re-implement the
 barcode generation process whenever your language needs change.
 .
 This package provides the Perl binding.

Package: python-postscriptbarcode
Architecture: any
Multi-Arch: same
Section: python
Depends: ${python:Depends}, ${misc:Depends}, ${shlibs:Depends}, libpostscriptbarcode0 (= ${binary:Version})
Description: Python 2 binding for Barcode Writer in Pure PostScript
 Barcode Writer in Pure Postscript generates all barcode formats entirely
 within PostScript so that the process of converting the input data into the
 printed output can be performed by the printer or RIP itself. This is ideal
 for variable data printing (VDP) and avoids the need to re-implement the
 barcode generation process whenever your language needs change.
 .
 This package provides the Python 2 binding.

Package: python3-postscriptbarcode
Architecture: any
Multi-Arch: same
Section: python
Depends: ${python3:Depends}, ${misc:Depends}, ${shlibs:Depends}, libpostscriptbarcode0 (= ${binary:Version})
Description: Python 3 binding for Barcode Writer in Pure PostScript
 Barcode Writer in Pure Postscript generates all barcode formats entirely
 within PostScript so that the process of converting the input data into the
 printed output can be performed by the printer or RIP itself. This is ideal
 for variable data printing (VDP) and avoids the need to re-implement the
 barcode generation process whenever your language needs change.
 .
 This package provides the Python 3 binding.

Package: ruby-postscriptbarcode
Architecture: any
Multi-Arch: same
Section: ruby
Pre-Depends: ${misc:Pre-Depends}
Depends: ${misc:Depends}, ${shlibs:Depends}, libpostscriptbarcode0 (= ${binary:Version}), ruby | ruby-interpreter
XB-Ruby-Versions: ${ruby:Versions}
X-DhRuby-Root: libs/bindings/ruby
Description: Ruby binding for Barcode Writer in Pure PostScript
 Barcode Writer in Pure Postscript generates all barcode formats entirely
 within PostScript so that the process of converting the input data into the
 printed output can be performed by the printer or RIP itself. This is ideal
 for variable data printing (VDP) and avoids the need to re-implement the
 barcode generation process whenever your language needs change.
 .
 This package provides the Ruby binding.

