Source: libpostscriptbarcode
Section: devel
Priority: optional
Maintainer: Terry Burton <tez@terryburton.co.uk>
Uploaders: Alexander List <alex@debian.org>
Build-Depends: debhelper (>= 8.0.0), ghostscript
Standards-Version: 3.9.3
Homepage: http://www.terryburton.co.uk/barcodewriter/
Vcs-Svn: https://postscriptbarcode.googlecode.com/svn/trunk/
Vcs-Browser: https://code.google.com/p/postscriptbarcode/source/browse/trunk/

Package: libpostscriptbarcode
Architecture: all
Depends: ${misc:Depends}
Description: Barcode Writer in Pure PostScript
 Barcode Writer in Pure Postscript generates all barcode formats entirely
 within PostScript so that the process of converting the input data into the
 printed output can be performed by the printer or RIP itself. This is ideal
 for variable data printing (VDP) and avoids the need to re-implement the
 barcode generation process whenever your language needs change.
