#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

DPKG_EXPORT_BUILDFLAGS = 1
include /usr/share/dpkg/buildflags.mk

export PYBUILD_NAME = postscriptbarcode

%:
	dh $@ --parallel --with python2,python3

override_dh_auto_configure:
	dh_auto_configure
	dh_auto_configure --sourcedirectory=libs/c
	dh_auto_configure --sourcedirectory=libs/bindings/python --buildsystem=pybuild

override_dh_auto_build:
	dh_auto_build --parallel
	dh_auto_build --sourcedirectory=libs/c
	dh_auto_build --sourcedirectory=libs/bindings/python --buildsystem=pybuild
	dh_auto_build --sourcedirectory=libs/bindings -- LANGS="perl java" PREFIX=/usr PACKAGING=DEB PACKAGING_ROOT=$(CURDIR)

override_dh_auto_test:
	dh_auto_test
	dh_auto_test --sourcedirectory=libs/c
	dh_auto_test --sourcedirectory=libs/bindings/python --buildsystem=pybuild
	dh_auto_test --sourcedirectory=libs/bindings -- LANGS="perl java" PREFIX=/usr PACKAGING=DEB PACKAGING_ROOT=$(CURDIR)

override_dh_auto_install:
	dh_auto_install
	dh_auto_install --sourcedirectory=libs/c -- PREFIX=/usr
	dh_auto_install --sourcedirectory=libs/bindings/python --buildsystem=pybuild
	dh_auto_install --sourcedirectory=libs/bindings -- LANGS="perl java" PREFIX=/usr PACKAGING=DEB PACKAGING_ROOT=$(CURDIR)

#override_dh_install:
#	dh_install --exclude=LICENSE --exclude=CHANGES --exclude=.dirstamp

override_dh_auto_clean:
	dh_auto_clean
	dh_auto_clean --sourcedirectory=libs/c
	dh_auto_clean --sourcedirectory=libs/bindings/perl
	dh_auto_clean --sourcedirectory=libs/bindings/python --buildsystem=pybuild
	dh_auto_clean --sourcedirectory=libs/bindings -- LANGS="perl java" PREFIX=/usr PACKAGING=DEB PACKAGING_ROOT=$(CURDIR)

override_dh_strip:
	dh_strip -p libpostscriptbarcode0 --dbg-package=libpostscriptbarcode0-dbg
	dh_strip

override_dh_shlibdeps:
	dh_shlibdeps -O--parallel -l libs/c

override_dh_installdocs:
	dh_installdocs --link-doc=postscriptbarcode
