#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

%:
	dh $@ --parallel

override_dh_auto_build:
	dh_auto_build --parallel
	dh_auto_build --sourcedirectory=libs/c
	dh_auto_build --sourcedirectory=libs/bindings

override_dh_auto_install:
	dh_auto_install --sourcedirectory=libs/c --destdir=debian/libpostscriptbarcode0 -- PREFIX=/usr
	dh_auto_install --sourcedirectory=libs/bindings -- PREFIX=/usr PACKAGING=DEB PACKAGING_ROOT=$(CURDIR)

override_dh_install:
	dh_install --exclude=LICENSE --exclude=CHANGES --exclude=.dirstamp

override_dh_auto_clean:
	dh_auto_clean
	dh_auto_clean --sourcedirectory=libs/c
	dh_auto_clean --sourcedirectory=libs/bindings

override_dh_strip:
	dh_strip -p libpostscriptbarcode0 --dbg-package=libpostscriptbarcode0-dbg

