---
name: BWIPP CI

on:
  push:
    branches:
      - "*"
    tags:
      - "*"
  pull_request:
    branches:
      - "*"

permissions: read-all

jobs:
  ci:
    runs-on: ${{ matrix.os }}

    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-22.04

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Fix PATH for CI
        run: sed -i "s|/usr/local/bin:||" build/make_resource.pl

      - name: Build
        run: |
          sudo apt-get update
          sudo apt-get install -y --no-install-recommends ghostscript
          make -j "$(nproc)"

      - name: Test
        run: make test

  docs:
    runs-on: ubuntu-22.04
    container: pandoc/latex:2.9

    steps:
      - name: Install dependencies
        run: apk add --no-cache git make

      - name: Checkout
        uses: actions/checkout@v4
        with:
          submodules: true

      - name: Build docs
        run: make -C wikidocs -f __pandoc/Makefile all

      - name: Store PDF docs
        uses: actions/upload-artifact@v4
        with:
          name: docs-pdf
          path: wikidocs/__pandoc/barcodewriter.pdf

      - name: Store HTML docs
        uses: actions/upload-artifact@v4
        with:
          name: docs-html
          path: wikidocs/__pandoc/barcodewriter.html

  release:
    if: startsWith(github.ref, 'refs/tags/')

    runs-on: ubuntu-22.04

    permissions: write-all

    needs:
      - ci
      - docs

    steps:
      - uses: actions/checkout@v4

      - name: Fix PATH for CI
        run: sed -i "s|/usr/local/bin:||" build/make_resource.pl

      - name: Get and check the version
        id: get_version
        run: |
          VERSION="${GITHUB_REF/refs\/tags\//}"
          [ "$VERSION" == "$(head -1 CHANGES)" ] || exit 1
          echo "VERSION=$VERSION" >> "$GITHUB_OUTPUT"

      - name: Make assets
        run: |
          sudo apt-get update
          sudo apt-get install -y --no-install-recommends ghostscript
          make -j "$(nproc)" release

      - name: Load PDF docs
        uses: actions/download-artifact@v4
        with:
          name: docs-pdf

      - name: Load HTML docs
        uses: actions/download-artifact@v4
        with:
          name: docs-html

      - name: Create GitHub release
        id: create_release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ steps.get_version.outputs.VERSION }}
          release_name: ${{ steps.get_version.outputs.VERSION }}
          draft: false
          prerelease: false

      - name: "Upload asset: monolithic tgz"
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: "build/release/postscriptbarcode-monolithic-\
            ${{ steps.get_version.outputs.VERSION }}.tgz"
          asset_name: "postscriptbarcode-monolithic-\
            ${{ steps.get_version.outputs.VERSION }}.tgz"
          asset_content_type: application/gzip'

      - name: "Upload asset: monolithic zip"
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: "build/release/postscriptbarcode-monolithic-\
            ${{ steps.get_version.outputs.VERSION }}.zip"
          asset_name: "postscriptbarcode-monolithic-\
            ${{ steps.get_version.outputs.VERSION }}.zip"
          asset_content_type: application/zip

      - name: "Upload asset: monolithic-package tgz"
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: "build/release/postscriptbarcode-monolithic-package-\
            ${{ steps.get_version.outputs.VERSION }}.tgz"
          asset_name: "postscriptbarcode-monolithic-package-\
            ${{ steps.get_version.outputs.VERSION }}.tgz"
          asset_content_type: application/gzip'

      - name: "Upload asset: monolithic-package zip"
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: "build/release/postscriptbarcode-monolithic-package-\
            ${{ steps.get_version.outputs.VERSION }}.zip"
          asset_name: "postscriptbarcode-monolithic-package-\
            ${{ steps.get_version.outputs.VERSION }}.zip"
          asset_content_type: application/zip

      - name: "Upload packaged-resource tgz"
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: "build/release/postscriptbarcode-packaged-resource-\
            ${{ steps.get_version.outputs.VERSION }}.tgz"
          asset_name: "postscriptbarcode-packaged-resource-\
            ${{ steps.get_version.outputs.VERSION }}.tgz"
          asset_content_type: application/gzip'

      - name: "Upload asset: packaged-resource zip"
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: "build/release/postscriptbarcode-packaged-resource-\
            ${{ steps.get_version.outputs.VERSION }}.zip"
          asset_name: "postscriptbarcode-packaged-resource-\
            ${{ steps.get_version.outputs.VERSION }}.zip"
          asset_content_type: application/zip

      - name: "Upload asset: resource tgz"
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: "build/release/postscriptbarcode-resource-\
            ${{ steps.get_version.outputs.VERSION }}.tgz"
          asset_name: "postscriptbarcode-resource-package-\
            ${{ steps.get_version.outputs.VERSION }}.tgz"
          asset_content_type: application/gzip'

      - name: "Upload asset: resource zip"
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: "build/release/postscriptbarcode-resource-\
            ${{ steps.get_version.outputs.VERSION }}.zip"
          asset_name: "postscriptbarcode-resource-\
            ${{ steps.get_version.outputs.VERSION }}.zip"
          asset_content_type: application/zip

      - name: "Upload asset: PDF docs"
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: barcodewriter.pdf
          asset_name: postscriptbarcode-manual.pdf
          asset_content_type: application/pdf

      - name: "Upload asset: HTML docs"
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: barcodewriter.html
          asset_name: postscriptbarcode-manual.html
          asset_content_type: text/html
